[defaults]
inventory = inventory.yml
host_key_checking = False
roles_path = roles
stdout_callback = default
forks = 1
retry_files_enabled = False
deprecation_warnings = False
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey,password -o PubkeyAuthentication=yes
